@model M3Test_2.Models.EditViewModel

@{
    Layout = null;
}

<style>
    #viewbox {
        /*height: 430px;*/
        /*width: 500px;*/
        padding-left: 30px;
        padding-right: 30px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.19); /*h v shadow color*/
    }

    /*Profile Pic Start*/
    .picture-container {
        position: relative;
        cursor: pointer;
        text-align: center;
    }

    .picture {
        width: 150px;
        height: 150px;
        background-color: #d3d3d3;
        color: #FFFFFF;
        border-radius: 50%;
        margin: 0px auto;
        overflow: hidden;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

        .picture:hover {
            border-color: #2ca8ff;
        }

    .content.ct-wizard-green .picture:hover {
        border-color: #05ae0e;
    }

    .content.ct-wizard-blue .picture:hover {
        border-color: #3472f7;
    }

    .content.ct-wizard-orange .picture:hover {
        border-color: #ff9500;
    }

    .content.ct-wizard-red .picture:hover {
        border-color: #ff3b30;
    }

    .picture input[type="file"] {
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0 !important;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .picture-src {
        width: inherit;
        height: inherit;
    }
    /*Profile Pic End*/
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Prepare the preview for profile picture
        $("#wizard-picture").change(function () {
            readURL(this);
        });
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>




<h2>EditDetail</h2>
<div class="jumbotron">
    <form action="/Work/EditDetail" method="post">

        <table class="table">
            <tr>
                <td>
                    User Id :
                </td>
                <td>
                    <input type="text" name="Uid" value="@Model.Uid" readonly />
                </td>
            </tr>


            <tr>
                <td>
                    Email :
                </td>
                <td>
                    <input type="text" name="Email" value="@Model.Email" readonly />
                </td>
            </tr>

            <tr>
                <td>
                    Profile Pic :
                </td>
                <td>
                    <div class="picture-container">
                        <div class="picture">
                            <img src="@Model.img" class="picture-src" id="wizardPicturePreview" title="" />
                            <span><input type="file" id="wizard-picture" name="ProfilePic" class="" /></span>
                        </div>
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                    Qualification :
                </td>
                <td>
                    <ul>
                        @{
                            if (Model.Qualification.Equals(null))
                            {
                                <li><input type="checkbox" name="Qualification" id="Qualification" value="1"  />Graduate</li>
                                <li><input type="checkbox" name="Qualification" id="Qualification" value="2"  />Post Graduate</li>
                                <li><input type="checkbox" name="Qualification" id="Qualification" value="3" />Doctrate</li>
                            }
                            else
                            {
                                <li><input type="checkbox" name="Qualification" id="Qualification" value="1" checked="@Model.Qualification.Contains("1")" />Graduate</li>
                                <li><input type="checkbox" name="Qualification" id="Qualification" value="2" checked="@Model.Qualification.Contains("2")" />Post Graduate</li>
                                <li><input type="checkbox" name="Qualification" id="Qualification" value="3" checked="@Model.Qualification.Contains("3")" />Doctrate</li>
                            }
                        }
                    </ul>

                </td>
            </tr>

            <tr>
                <td></td>
                <td>

                    <input type="hidden" name="Id" value="@Model.id" />
                    <input type="submit" value="Update" class="btn btn-default" />
                </td>
            </tr>

        </table>
    </form>
</div>
